:root{
    --accent-color: #2196F3;
    --primary-text-color: #212121;
    --text-color: #FFFFFF;
    --feedback-color: #757575;
    --background-button-color: #188CE8;
    --background-buttons-color: #F5F4FA;
    --background-color: #2F303A ;
    --logo-color: #000000;
    --portfolio-background-color: #F5F5F5;
    --portfolio-header-color: #ECECEC;
    --social-color:  #AFB1B8;
    --contact-color: #212121;
}


