.portfolio{
    color: var(--accent-color);
}
.main-header{
    border-style: solid;
    border-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 0;
    border-color: var(--portfolio-header-color);
}